{% load django_template_language_is_shit %}

<html>
	<head></head>
	{% comment %} const id = Number(this.dataset.pet); {% endcomment %}
	<body>
		<script>
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = (cookies[i] + "").trim();
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			
			
			function openEdit(id) {
				const about = document.getElementById(`pet-${id}-about`);
				const form  = document.getElementById(`pet-${id}-form`);
				about.style.display = "none";
				form .style.display = "";
			}
			function cancelUpdate(id) {
				const about = document.getElementById(`pet-${id}-about`);
				const form  = document.getElementById(`pet-${id}-form`);
				about.style.display = "";
				form .style.display = "none";
			}
			function deletePet(id) {
				const csrftoken = getCookie('csrftoken');
				
				fetch(`/pet/${id}`, { 
					method: "DELETE", 
					headers: {
						"X-CSRFToken": csrftoken,
					}
				}).then( () => location.reload() );
			}
		</script>
		<script>
			const tags = [{% for tag in tags %} {{"{"}} id: {{ tag.id }}, name: "{{ tag.name }}", {{"}"}}, {% endfor %}];
			const categories = [{% for category in categories %} {{"{"}} id: {{ category.id }}, name: "{{ category.name }}", {{"}"}}, {% endfor %}];
			
			const tag_filter      = [/* Map< {id: int, include: bool} > */];
			const category_filter = [/* Map< {id: int, include: bool} > */];
			
			function toggleFilter(list, i, j, id) {
				
			}
			function addFilter(list, html_container_id) {
				
			}
			function stringifyFilter(list, name) {
				
			}
			function applyFilters() {}
		</script>
		<div>
			<h2>Filters</h2>
			<div>
				<h3>Tags</h3>
				<div id="tags_filter_container"></div>
				<input type="button" value="add" onclick="addFilter(tag_filter, 'tags_filter_container')" />
			</div>
			<div>
				<h3>Categories</h3>
				<div id="categories_filter_container"></div>
				<input type="button" value="add" onclick="addFilter(tag_filter, 'categories_filter_container')" />
			</div>
			<input type="button" value="apply filters" onclick="applyFilters()" />
		</div>
		<ul>
			{% for pet in pets %}
				<li>
					<div id="pet-{{ pet.id }}-about">
						<h3>{{ pet.name }}</h3>
						{{ pet.status }} --- ({{ pet.category.name }}) --- [{% for tag in pet.tags %}{{ tag.name }}, {% endfor %}]
					</div>
					<div id="pet-{{ pet.id }}-form" style="display: none;">
						{% comment %} style="display: none;" {% endcomment %}
						<form action="/pet/{{ pet.id }}" method="POST">
							{% csrf_token %}
							<h3>Update {{ pet.name }}</h3>
							
							<table>{{ individual_forms|return_item:pet.id }}</table>
							
							<div>
								<input type="button" value="cancel" onclick="cancelUpdate({{ pet.id }})" />
								<input type="submit" value="update" />
							</div>
							<input type="text" name="location" class="location" hidden />
						</form>
					</div>
					<div>
						<input type="button" onclick="openEdit ({{ pet.id }})" data-pet="{{ pet.id }}" value="Edit"    />
						<input type="button" onclick="deletePet({{ pet.id }})" data-pet="{{ pet.id }}" value="Delete"  />
					</div>
				</li>
			{% endfor %}
		</ul>
		<div>tags: {% for tag in tags %}({{ tag.id }}, {{ tag.name }}), {% endfor %}</div>
		<div>categories: {% for category in categories %}({{ category.id }}, {{ category.name }}), {% endfor %}</div>
		<form action="/pet" method="post">
			{% csrf_token %}
			<h2>Insert a new pet</h2>
			
			<table>{{ new_pet_form }}</table>
			
			<input type="submit" value="add" />
			<input type="text" name="location" class="location" hidden />
		</form>
		<script>
			for (const el of document.querySelectorAll("form input.location")) {
				el.value = location.pathname;
			}
		</script>
	</body>
</html>